@import 'tailwindcss';

@theme {
  --color-primary: #9d50f8;
  --color-secondary: #f5f5f5;
  --color-text-main: #0a0a0a;
  --color-text-inverse: #ffffff;
}

body {
    background-color: white;
    color: var(--color-text-main);
}
