@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-primary: #9d50f8;
  --color-secondary: #f5f5f5;
  --color-text-main: #0a0a0a;
  --color-text-inverse: #ffffff;
  --background-image-header-gradient: linear-gradient(to bottom right, #9d50f8, #c56fdc);
}


body {
    background-color: white;
    color: var(--color-text-main);
    padding-top: env(safe-area-inset-top);
    padding-bottom: env(safe-area-inset-bottom);
}
