:global(body) {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
:global(body::-webkit-scrollbar) {
    display: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type='number'] {
    -moz-appearance: textfield;
    appearance: textfield;
}
